
/* Typography */

@font-face {
    font-family: 'sofia_prolight';
    src: url('../fonts/sofiaprolight-webfont.woff2') format('woff2'),
         url('../fonts/sofiaprolight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_proregular';
    src: url('../fonts/sofia_pro_regular-webfont.woff2') format('woff2'),
         url('../fonts/sofia_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'maison_neuebold';
    src: url('../fonts/maisonneue-bold-webfont.woff2') format('woff2'),
         url('../fonts/maisonneue-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* // End typography */


/*	Resets
	------	*/

html, body, div,  span,  object,  iframe,  h1,  h2,  h3,  h4,  h5,  h6,  p,  blockquote,  pre,  a,  abbr,  address,  cite,  code,  del,  dfn,  em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,  dl,  dt,  dd,  ol,  ul,  li,  fieldset,  form,  label,  legend,  table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td,  article,  aside,  canvas,  details,  figure,  figcaption,  hgroup,  menu,  footer,  header,  nav,  section,  summary,  time,  mark,  audio,  video {margin: 0; padding: 0; border: 0; }

 ul{list-style: none; } 
 article, aside, canvas, figure,figure img,  figcaption,  hgroup,  footer,  header,  nav,  section,  audio,  video {display: block;}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table{border-collapse: collapse; border-spacing: 0; }
b, strong { font-weight: bold; }
[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0; }
[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button {-webkit-appearance: button; font: inherit;}

 .clear:after{content:".";display:block;clear:both;visibility:hidden;line-height:0; height:0; font-size: 0;}
 a img{border:0; vertical-align: bottom;}
 a, input, select, textarea{outline:none;}
 img{width: auto; height: auto; max-width: 100%; vertical-align: bottom; border-style: none; border: 0;}

/* Selection colours (easy to forget) */
 img::selection 		{background: transparent;}
 img::-moz-selection	{background: transparent;}
 a{text-decoration: none; display: inline-block;}

 input[type='number']{-moz-appearance:textfield;}
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button{-webkit-appearance: none;}
 input::-moz-focus-inner{border:0; padding: 0; }
/*		Default Layout 
-------------------------------------------------------------------------------
*/

/*

Font property css

font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;

*/

body{background: rgb(255,255,255); -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased; overflow-x: hidden; overflow-y:auto; font-size: 14px; line-height; 25px; color: #454545; font-family: 'sofia_prolight'; font-weight: normal;}

*{-webkit-box-sizing: border-box;-moz-box-sizing:border-box; box-sizing: border-box;}

/* Global style */

h1,  h2,  h3,  h4,  h5,  h6{font-weight: normal; font-family: 'sofia_prolight'; color: #424345;}
h2{font-size: 22px; line-height: 30px; letter-spacing: .8px; color: #748e7a;}
h3, h4{font-size: 16px; line-height: 19px; letter-spacing: 3.6px; text-transform: uppercase;}
h4{font-size: 14px; line-height: 18px; letter-spacing: 2.4px; color: #748e7a; font-family: 'sofia_proregular'; }
h5{font-size: 12px; line-height: 22px; color: #454545;}

input[type="submit"]{cursor: pointer; font-family: 'sofia_prolight';}
dfn,  address,  em{font-style: normal;}
button:focus{outline: none;}
textarea{resize: none;}

.btn{-webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; transition: all .4s ease-in-out; height: 53px; text-align: center; border-radius: 29.5px; line-height: 51px; border: 1px solid transparent; font-size: 13px; letter-spacing: 2px; text-transform: uppercase;}

.large-btn{width: 300px;}
.medium-btn{width: 184px;}

.white-btn{color: #424345; background-color: #ffffff; border-color: #ffffff;}
.white-btn:hover{color: #ffffff; background-color: #1f4548; border-color: #1f4548;}
.dark-green{color: #ffffff; background-color: #1f4548; border-color: #1f4548;}
.dark-green:hover{color: #1f4548; background-color: transparent; border-color: #1f4548;}

.common-wrap{max-width: 1276px; margin: 0 auto; clear: both; padding: 0 38px;}
input[type="text"], input[type="email"], input[type="tel"], textarea{font-size: 16px; color: #454545; font-family: 'sofia_prolight'; font-weight: normal; height: 59px; padding: 14px 24px; background-color: #ffffff; border: 0px;}

.main-wrap{overflow: hidden;}
.main-wrap, section, header, footer{float: left; width: 100%;}
.phone-nav{cursor: pointer; width: 32px; display: none;}
.phone-nav span{display: block; height: 2px; width: 32px; background-color: #000; margin: 3px 0; float: left; cursor: pointer;}
.dekstop{display: block;}
.mobi{display: none;}


/* End Global style */


/* menu */
.header{padding: 32px 0 44px;}
.logo-wrap, .main-logo{width: 86px; float: left;}
.main-logo a{float: left;}
.nav-wrap{float: right; width: -webkit-calc(100% - 276px); width: calc(100% - 276px); padding-right: 180px;  position: relative;}
.main-nav{margin-top: 26px;}
.main-nav li{display: inline-block; margin: 0 39px;}
.main-nav li:first-child{margin-left: 0;}
.main-nav a, .online-book{font-size: 13px; letter-spacing: 2.4px; color: #424345; line-height: 16px;}
.main-nav a{padding: 6px 0; position: relative;}
.main-nav a:after{position: absolute; bottom: 0; left; 0; width: 100%; background-color: #424345; content: ''; height: 1px; left: 0; opacity: 0; visibility: hidden; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.main-nav li.current-menu-item a:after, .main-nav li:hover a:after{opacity: 1; visibility: visible;}
.online-book{position: absolute; color: #748e7a; float: right; right: 0; top: 26px;}
/* End menu */

/* main-content */
.home-page .common-wrap{max-width: 1156px;}
.hero-wrap{min-height: 734px; display: -webkit-flex; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-around; justify-content: space-around;  -webkit-box-align: center; align-items: center; position: relative; background-color: #f4f1ea;}
.container{float: left; width: 100%;}
.graphcis{position: absolute; top: 0; right: 0; width: 43.23170731707317%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat;}
.container-inner{max-width: 524px; float: left;}
.content-description h3 + p, .footer-col p{font-size: 22px; line-height: 30px; letter-spacing: .8px; color: #748e7a;}
.container-inner p{margin-top: 48px;}
.hero-wrap .container-inner p{margin-top: 48px;}
.feature-wrap{float: left; width: 100%; margin-top: 72px;}
.feature-item{float: left; width: 33.3333%; margin: 16px 0;}
.feature-icon{width: 36px; height: 36px; border: 1px solid #748e7a; background-color: #ffffff; padding: 9px; float: left;}
.feature-icon img{width: 17px; height: 17px;}
.feature-item h5{float: left; padding-left: 12px; line-height: 36px;}
/* End main-content */


/* footer */
.footer{background-color: rgba(244, 241, 234, .73); padding: 173px 0 132px;}
.footer-top-wrap, .footer-bottom-wrap, .footer-wigdet address{float: left; width: 100%;}
.footer-col{float: left; width: 50%;}
.footer-col:nth-child(1){padding-right: 35px;}
.footer-col form{float: left; width: 100%; margin-top: 14px; position: relative; }
.footer-col input[type="email"]{float: left; width: 100%; border: 1px solid #acacac; padding: 10px 175px 10px 29px; color: #9b9b9b;}
.footer-col input[type="submit"]{position: absolute; top: 0; right: 0; width: 171px; border: 0; border-left: 1px solid #acacac; background-color: transparent; color: #454545; font-size: 16px; height: 100%; z-index: 2;}
.footer-bottom-wrap{margin-top: 120px;}
.footer-wigdet{float: left; width: 25%; padding-right: 15px;}
.footer-wigdet ul, .footer-wigdet ul li{float: left; width: 100%; margin-top: 10px;}
.footer-wigdet ul li{margin: 8px 0;}
.footer-wigdet ul li a{color: #454545;}
.footer-wigdet ul li a:hover{text-decoration: underline;}
.footer-wigdet address{margin-top: 18px; line-height: 30px;}
.social-icon{position: relative; width: 171px; float: right;}
.social-icon h4{padding-right: 80px;}
.social-icon ul li{display: inline-block; width: auto; margin: 0 15px;}
.social-icon ul li:last-child{margin-right: 0;}
.social-icon ul{position: absolute; top: 0; right: 0; width: auto; margin-top: 0; }
/* End footer */













/* Farhan Roussea */
/* Treatmrnt page style */
.treatments-content .container-inner{width: 39.91666666666667%}
.treatments-content .hero-wrap{min-height: 594px}
.treatments-content .graphcis{width: 49.02439024390244%}


.tab-wrap {background: rgba(251, 246, 238, .68); float: left; width: 100%; padding: 102px 0 178px}
.tab-nav{float: left; width: 100%; text-align: center}
.tab-nav ul li{display: inline-block; padding: 0 32px}
.tab-nav ul li:first-child {padding-left: 0;}
.tab-nav ul li:last-child {padding-right: 0;}
.tab-nav ul li a{font-size: 20px; line-height: 36px; letter-spacing: 1.3px; color: rgba(66, 67, 69, 0.27)}
.tab-item-wrap{float: left; width: 100%; margin-top: 11px}
.tab-item{float: left; width: 100%; margin-top: 74px}
.tab-item h3{padding: 31px 25px 25px 43px; background: #ffffff}
.tab-content-row{float: left; width: 100%; padding: 18PX 0; background: #f4f1ea; border-bottom: .3px solid rgba(151, 151, 151, .7);}
.tab-content-row:last-child {border-bottom: none;}
.tab-content-left{float: left; -webkit-width: calc(100% - 378px); -moz-width: calc(100% - 378px); width: calc(100% - 378px); padding-left: 43px;}
.tab-content-left h6, .tab-content-des span, .tab-content-des a{font-size: 18px; line-height: 30px; color: #454545; font-family: 'sofia_prolight';}
.tab-content-right{float: left; width: 378px}
.tab-content-des{float: left; width: 44.97354497354497%; margin: 0 5.026455026455026%}
.tab-content-des:first-child, .tab-content-des span:first-child{margin-left: 0}
.tab-content-des:last-child{margin-right: 0}
.tab-content-des span{margin-left: 51px}
.tab-content-des a{color: #748e7a; margin-left: 25px}
.tab-content-des a:first-child{margin-left: 0; position: relative}
.tab-content-des a:first-child:after{position: absolute; content: "/"; top: 0; left: 43px; }


.booking-section{float: left; width: 100%; padding: 160px 0 175px}
.booking-section .common-wrap{max-width: 865px;}
.booking-section p{font-size: 22px; line-height: 30px; letter-spacing: 0.8px; color: #748e7a; font-family: 'sofia_prolight';text-align: center}
.booking-info {float: left; width: 100%; margin-top: 55px; text-align: center}
.booking-info span,.booking-info a{font-size: 26px; line-height: 36px; color: #424345; padding-left: 20px; display: inline}
.booking-info span:first-child{padding-left: 0}
.booking-info a{color: #748e7a; padding-left: 5px}

/* End Treatmrnt page style */


/* contact page style */
.form-section{position: relative}
.form-section:before,.form-section:after{position: absolute; top: 0; right: 0; width: 50%; content: ""; height: 100%;background: #e9e5dd; z-index: -1}
.form-section:before{right: auto;left: 0; background: #f4f1ea}
.contact-wrap{float:left; width: 50%; padding: 172px 20px 172px 0}
.contact-wrap > p{max-width: 385px;font-size: 22px; line-height: 30px; margin-top: 52px; letter-spacing: 0.8px; color: #748e7a}
.contact-info{float: left; width: 100%; margin-top: 35px;}
.contact-info p, .contact-info a, .contact-time p{font-size: 16px; line-height: 36px; letter-spacing: 0; color: #454545}
.contact-info p:last-child a{color: #748e7a}
.contact-time{float: left; width: 100%; margin-top: 52px;}
.contact-time h4{margin-bottom: 20px}
.form-wrap{float: left; width: 50%; padding: 172px 0 173px; text-align: center}
.form-inner{max-width: 378px; float: right; padding: 0 0 0 20px}
.form-inner form{margin-top: 29px; float: left; width: 100%}
input[type="text"], input[type="email"], input[type="tel"], textarea{width: 100%}
.contact-content .input-row{float: left; width: 100%; background: #ffffff; margin-top: 11px}
.contact-content .input-row textarea{height: 148px}
.selectric{border: 0; height: 59px;}
.input-row .selectric-items{box-shadow: none; margin-top: 30px}
.input-row .selectric .label, .input-row .selectric-items li{font-size: 16px; line-height: 36px; text-align: left; letter-spacing: 0; color: #454545; padding: 14px 24px}
.input-row .selectric-items li{color: #748e7a; height: 45px; padding: 5px 24px}
.selectric .button { width: 7px; height: 5px; background: url(../svgs/Triangle.svg) no-repeat center center / cover; top: 50%; right: 29px;}
.selectric-open .selectric .button {-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); transform: rotate(180deg);}
.contact-content input[type="submit"]{margin-top: 37px}

.gallery-wrap{position: relative}
.gallery-wrap img {width: 100%;}
.gallery-info{position: absolute; bottom: 0; left: 0; width: 100%}
.info-col-wrap{background: #ffffff; padding: 35px 102px; float: left; width: 100%}
.info-col{float: left; width: 20.78313253012048%; padding-right: 10px}
.info-col:nth-child(2){width: 58.23293172690763%}
.info-col:last-child{text-align: right;}
.info-col h3 {line-height: 36px;}
.info-col address, .info-col a{font-size: 16px; line-height: 36px; letter-spacing: 0; color: #454545}
.info-col a {color: #748e7a}

/* End contact page style */
/* =======================================================================================================
============================================ Responsive style ========================================== */

/*		Mobile Layout: 320px and 480px and more but less than or equal to 767px.
----------------------------------------------------------------------------------
*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
     input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="number"], input[type="submit"], input[type="password"], select, textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
    
    h2{line-height: 24px; letter-spacing: .7px;}
    .dekstop{display: none;}
    .mobi{display: block;}
    
    
    
    /* Treatment page style */
    .treatments-content .graphcis{float: left; width: 100%; min-height: 300px; position: relative;}
    .treatments-content .container-inner{width: 100%; float: left; padding: 25px 0} 
    .hero-wrap .container-inner p{margin-top: 15px; font-size: 18px; line-height: 24px; letter-spacing: 0.7px;}
    
    
    .tab-wrap .common-wrap{padding: 0 20px}
    section.tab-wrap{padding: 45px 0 55px}
    .tab-nav ul li{padding: 0 5px}
    .tab-nav ul li a{font-size: 14px; line-height: 22px}
    .tab-item{margin-top: 35px}
    .tab-item h3{padding: 10px}
    .tab-content-left{padding-left: 10px; width: 100%}
    .tab-content-left h6, .tab-content-des span, .tab-content-des a{font-size: 14px; line-height: 22px}
    .tab-content-right{width: 100%}
    .tab-content-des:first-child{padding-left: 10px}
    .tab-content-des span,.tab-content-des a{margin-left: 15px}
    .tab-content-des a:first-child:after{left: 30px}
    
    section.booking-section{padding: 60px 0 75px}
    .booking-section p{font-size: 16px; line-height: 22px}
    .booking-info{margin-top: 20px}
    .booking-info span, .booking-info a{font-size: 18px; line-height: 26px; padding: 0}
    .booking-info a{padding: 0}
    
     /* End Treatment page style */

    
     /* Contact page style */
    .form-section .common-wrap, .form-inner{padding: 0}
    .form-section:before, .form-section:after{display: none}
    .contact-wrap, .form-wrap{float: left; width: 100%; background: #f4f1ea; padding: 50px 38px}
    .form-wrap{background: #e9e5dd}
    .form-inner{float: left}
    input[type="text"], input[type="email"], input[type="tel"], textarea,.selectric{height: 45px; padding: 5px 14px}
    .input-row .selectric .label, .input-row .selectric-items li{padding: 5px 14px}
    .gallery-info{position: relative}
    .info-col-wrap{padding: 10px 0}
    .info-col, .info-col:nth-child(2){float: left; width: 100%; padding: 0}
    /* End Contact page style */

}



/*		Wide Mobile Layout: 480px.
------------------------------------------------------------
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {


}


/*		Tablet Layout: 768px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
     input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="number"], input[type="submit"], input[type="password"], select, textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
    
    
    .tab-content-left h6, .tab-content-des span, .tab-content-des a{font-size: 14px; line-height: 22px}
    .tab-content-left{padding-left: 20px}
    .booking-info span{padding: 0}
    
    /* Contact page style */
    .info-col-wrap{padding: 15px 30px}
    .info-col address{font-size: 14px}
    /* End Contact page style */
}


/*		Tablet Layout: 1024px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 992px) and (max-width: 1024px) {
     input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="number"], input[type="submit"], input[type="password"], select, textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
	
}




/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	
}







